.BadgeForm{
    width: 500px;
    margin-top: -460px;
    margin-left: 1000px;
    border: 1px solid lightgrey;
    padding: 50px;
    border-radius: 15px;
}

.Submit_button{
    margin-top: 15px;
    background-color: white;
    padding: 10px 40px;
    border-radius: 5px;
    display: block;
    align-self: center;
    border: 1px solid lightgrey;

}

.Submit_button:hover{
    background-color: #1a2583;
    color: white;
    font-weight: bold;
}
