
.Button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 40px;
    margin-top: 2em;
    background-color: #056526;
    width:40%;

}

.Button p{
    color: white;
    font-size: 1.2em;
    margin: 8px 60px;
    font-weight: bold;
    padding-top: 5px;
    
    border: 2px #056526;
}

.Button:hover{
    background-color: white;
    border: 2px #056526;
    font-weight: bold;
    
}

.Button:hover p{
    color: teal;
    border: 2px #056526;
}

.Button-light{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: 2px solid lightgray;
    border-radius: 40px;
    margin-top: 2em;
    background-color: white;

}

.Button-light p{
    color: #007336;
    font-size: 1.2em;
    margin: 8px 60px;
    font-weight: bold;
    padding-top: 5px;
}

.Button-light:hover{
    background-color: 007336;
    border: 2px transparent;
    font-weight: bold;
    
}

.Button-light:hover p{
    color: white;
}

